@theme {
  --color-primary: #007BFF;
  --color-primary-light: #3395FF;
  --color-primary-dark: #0056B3;
  --color-secondary: #9333ea;
  --color-bg-dark: #0a0a1a;
  --color-bg-light: #f9fafb;
  --color-surface-dark: #14142b;
  --color-surface-light: #ffffff;
  --color-text-light: #e0e0e0;
  --color-text-dark: #1f2937;
  --color-text-muted: #888899;
  --color-border-color: #2a2a4a;
  --font-sans: "Inter", "sans-serif";
  --font-sora: "Sora", "sans-serif";
  --border-radius: 0.75rem;
  --border-primary: var(--color-primary);
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-draw {
  animation: draw 1.5s ease-out forwards;
  animation-delay: 1s;
}

.animate-shimmer {
  animation: shimmer 3s linear infinite;
  background-size: 200% auto;
}

.shiny-border {
  position: relative;
  isolation: isolate;
}

.shiny-border::before {
  content: '';
  position: absolute;
  inset: -4px;
  border-radius: 16px;
  padding: 4px;
   background: linear-gradient(90deg, 
    #9cfd14,
    #2ec20c,
    #0099ff,
    #FF4F00
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background-size: 400% 400%;
  animation: shimmer 3s ease infinite;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;